<!-- <label>
  Name:
  <input type="text" [formControl]="name" />
</label>
<p>Value: {{ name.value }}</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName" required />
    </label>
  </div>
  <div>
    <label>
      Last Name:
      <input type="text" formControlName="lastName" />
    </label>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street" />
    </label>

    <label>
      City:
      <input type="text" formControlName="city" />
    </label>

    <label>
      State:
      <input type="text" formControlName="state" />
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip" />
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3>
    <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <label>
        Alias:
        <input type="text" [formControlName]="i" />
      </label>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

<p>Form Status: {{ profileForm.status }}</p> -->
<h2>Create Questions</h2>
<app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
<button (click)="addQuestion()">Add Question</button>